<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/style.css" rel="stylesheet"/>
    <script src="/index.js" defer></script>
</head>
<body>
    
    <div>
        
        <h1>Vous êtes sur la page sécurisée</h1>

        <nav>
            <div class="nav-flex">
                <div><button class="btn"><a href="/">index</a></button></div>
                <div><button class="btn"><a href="/logout">se déconnecter</a></button></div>
            </div>
        </nav>

        <div class="fl">
            <div>
                <b>Entrer un nouvel utilisateur</b>
                <p>pseudo : </p>
                <input type="text" name="pseudo" id="pseudo">
                <p>Mot de passe : </p>
                <input type="text" name="password" id="password">
                <button id="envoyer">envoyer</button>
            </div>
            
            <div>
                <b>Vérifier l'utilisateur</b>
                <p>pseudo : </p>
                <input type="text" name="pseudo2" id="pseudo2">
                <p>Mot de passe : </p>
                <input type="text" name="password2" id="password2">
                <button id="envoyer2">envoyer</button>
            </div>
        </div>
        
        <div id="container"></div>
        <div id="mef"></div>


    </div>

</body>
</html>